@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: antiquewhite;

}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    max-width: 1100px;
    margin-bottom: 40px;
}

#logo {
    font-family: 'Rampart One', cursive;
    font-size: 48px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

h1 {
    color: red;
    text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.5);
}

#branches,
.branch {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    margin-top: 30px;
}

.branch img {
    width: 250px;
    height: 300px;
}